@{
    ViewData["Title"] = "Temperature";
}

@model IEnumerable<SmartHome.Models.Temperature>

@{
    Layout = "../Shared/_Layout.cshtml";
}

@section SectionLinks{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
}

<div class="box">
    <script src="charts/js/highcharts.js"></script>
    <script src="charts/js/modules/exporting.js"></script>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <div id="container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var arrayTValue = new Array(@Model.Count());
        var arrayTime = new Array(@Model.Count());
        @foreach (var temperature in Model){
            @:arrayTValue.push(@temperature.t_value.ToString("HH:mm:ss"));
            @:arrayTime.push(@temperature.m_time);
        }
        Highcharts.chart('container', {

            title: {
                text: 'Todays temperature'
            },

            yAxis: {
                title: {
                    text: 'Temperature'
                }
            },

            xAxis: {
                title: {
                    text: 'Time'
                },
                categories: arrayTime
            },

            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            series: [{
                name: 'Celsius',
                data: arrayTValue
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }

        });
    </script>
</div>
