@{
    ViewData["Title"] = "Temperature";
}

@model IEnumerable<SmartHome.Models.Temperature>

@{
    Layout = "../Shared/_Layout.cshtml";
}

@section SectionLinks{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
}

<div class="box">
    <script type="text/javascript">
        var arrayTValue = new Array(@Model.Count());
        var arrayTime = new Array(@Model.Count());
        @foreach (var temperature in Model){
            @:arrayTValue.push(@temperature.t_value);
            @:arrayTime.push(@temperature.m_time.ToString("HH:mm:ss"));
        }
        Highcharts.chart('container', {

            title: {
                text: 'Solar Employment Growth by Sector, 2010-2016'
            },

            yAxis: {
                title: {
                    text: 'Temperature'
                }
            },

            xAxis: {
                title: {
                    text: 'Time'
                },
                categories: arrayTime
            },

            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: arrayTime[0]
                }
            },

            series: [{
                name: 'Celsius',
                data: arrayTValue
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }
        });
    </script>
</div>
